@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewBag.Title = "Curso";
}

<h1>Aluno</h1>
<p>Olá Alunos</p>

<div>
    <button type="button" class="btn btn-info">Cadastrar</button> 

    <button type="button" class="btn btn-danger">Sair</button>



</div>

